# Turn Rewrite Engine On
RewriteEngine on
# Rewrite for login script
RewriteRule ^login$ access_system.php [NC,L]
RewriteRule ^log_user$ App/Views/Login/login_request.php [NC,L]
RewriteRule ^logout$ App/Views/Login/log_user_out.php [NC,L]
RewriteRule ^dashboard$ web_home.php [NC,L]
RewriteRule ^data$ data_page.php [NC,L]
RewriteRule ^upload_file App/Views/Dashboard/upload.php [NC,L]
RewriteRule ^request_handler App/Views/Dashboard/manage_data.php [NC,L]
RewriteRule ^tables$ manage_tables.php [NC,L]
RewriteRule ^display$ display.php [NC,L]